html, body {
    margin: 0;
    padding: 0;
    height: auto;
    min-height: calc(100vh - 44px);
    width: 100%;
    background-color: #D1D4F0;
    font-family:'Lobster';
    
}

nav {
    width: 100%;
    height: 44px;
    top: 0;
    background-color: black;
    color:white;
    padding: 0 42px;
    border-bottom: 1px solid transparent;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-title {
    font-size: 25px;
    font-weight: 800;
    margin: 0;
    cursor: context-menu;
}
.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-settings, .nav-add, .nav-info,.nav-home {
    height: 28px;
    display: flex;
    background-color: #000000;
    text-align: center;
    align-items: center;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    outline: none;
    color: white;
    margin-right: 50px;
}
.nav-add {
    display: none;
}
.nav-settings:hover, .nav-add:hover ,.nav-info:hover,.nav-home:hover{
    background: rgba(172, 152, 243, 0.911);
}


.body-layout {
    height: calc(calc(100vh - 44px) - 44px);
    margin-top: 44px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "main-list add-list"
}
footer {
    bottom:0;
    font-size: 20px;
    background-color: black;
    color: white;
    height: 44px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.main-list {
    grid-area: main-list;
    padding: 30px 55px 34px;
}
.greeting-container {
    display: flex;
    align-self: center;
}
.gift-elem {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d3d2f1;
    padding: 4px 10px;
    border-radius: 5px;
}
.gift-elem:hover {
    background-color: rgba(204, 162, 233, 0.301);
}
.gift-cap {
    width: 100%;
    font-size: 20px;
    line-height: 21px;
    padding: 10px 0;
}


.add-list {
    grid-area: add-list;
    background-color: rgb(185, 169, 202);
    padding-left: 35px;
    padding-top: 30px;
    right: 0;
}
.add-form {
    width: 100%;
}
#b-title, #modal-b-title, #edit-b-title, #user-name {
    border: 1px solid #D1D4F0;
    border-radius: 3px;
    margin-top: 6px;
    margin-bottom: 16px;
    width: 80%;
    padding: 8px;
}
#user-name {
    width: calc(100% - 20px);
}
#b-descript, #modal-b-descript, #edit-b-descript {
    border: 1px solid #D1D4F0;
    border-radius: 3px;
    margin-top: 6px;
    margin-bottom: 16px;
    width: 80%;
    padding: 8px;
}
#edit-b-title, #edit-b-descript {
    width: calc(100% - 20px);
}
button:disabled {
    opacity: .3;
    cursor: context-menu;
}
.btn {
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: #040806;
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    padding: 6px 13px 7px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 3px;
    height: 30px;
}

.modal-box {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}
.modal-settings, .modal-view, .modal-add {
    z-index: 10;
    background-color: #D1D4F0;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.08);
    padding: 10px 20px 20px;
    margin: 15% auto;
    height: auto;
    width: 50%;
    border-radius: 3px;
}
.modal-title {
    text-align: center;
    font-size: 23px;
}
.view-modal-descript {
    border-bottom: 1px solid #dbbfe7;
    padding: 4px 0;
}
.modal-menu {
    display: flex;
    justify-content: space-between;
}

.ico {
    font-size: 20px;
}


@media screen and (max-width: 768px) {
    .body-layout {
        grid-template-columns: 100% 0%;
    }
    .add-list {
        display: none;
    }
    .nav-add {
        display: flex;
    }
    .modal-settings, .modal-view, .modal-add {
        width: 70%;
    }
    #bug-list {
        padding: 0px;
    }
    .nav-settings, .nav-add, .nav-info,.nav-home {
        height: 28px;
        display: flex;
        background-color: #000000;
        text-align: center;
        align-items: center;
        cursor: pointer;
        border-radius: 2px;
        border: none;
        outline: none;
        color: white;
        margin-right: 35px;
    }
    .nav-title {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    cursor: context-menu;
    text-align: start;
   }

   nav {
    width: 100%;
    height: 44px;
    top: 0;
    background-color: black;
    color:white;
    padding: 0 25px;
    border-bottom: 1px solid transparent;
    
    display: flex;
    
    
}
}
@media screen and (max-height: 455px) {

    footer {
		/*display: none;*/
        bottom:0;
	}

}

@media screen and (max-width: 370px) {

    footer {
		/*display: none;*/
        bottom:0;
	}
    nav {
        width: 100%;
        height: 44px;
        top: 0;
        background-color: black;
        color:white;
        padding: 0 10px;
        border-bottom: 1px solid transparent;
        position: fixed;
        
        
    }
    .nav-title {
        font-size: 20px;
        font-weight: 700;
        margin: 0;
        cursor: context-menu;
        text-align: start;
       }

       .nav-settings, .nav-add, .nav-info,.nav-home {
        height: 28px;
        display: flex;
        background-color: #000000;
        text-align: center;
        align-items: center;
        cursor: pointer;
        
        border: none;
        outline: none;
        color: white;
       
    }
}
